# Permit local plugdev users to drive the Chestnut PCIe-over-USB controller.
SUBSYSTEM=="usb", ATTR{idVendor}=="3801", ATTR{idProduct}=="0001", GROUP="plugdev", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="add1", ATTR{idProduct}=="0001", GROUP="plugdev", MODE="0660", TAG+="uaccess"
